.video {
  // Константы
  @mixin mod($mod) {
    @include modifier("video", $mod){
      @content;
    }
  }
  position: absolute;
  left: 45%;
  top: 45%;

  z-index: 1;

  &-media {
    position: absolute;
    
    height: 108px;
    width: 192px;

    &_active {
      transform: scale(10);
      transition: transform 2s;
    }
  
  }

  &_active {
    z-index: 11;
  }

  &__btn-close {
    position: absolute;
    z-index: 15;

    display: none;

    right: -975px;
    top: -407px;

    width: 100px;
    height: 100px;

    background-color: transparent;
    border: none;

    cursor: pointer;

    &_active {
      display: block;
    }

    &:after {
      content: '';
      position: absolute;

      left: 50%;
      top: 50%;

      width: 50px;
      height: 4px;

      background-color: #fff;

      transform-origin: left;
      transform: rotate(45deg) translate(-50%, -50%);
    }

    &:before {
      content: '';
      position: absolute;
      z-index: 1;

      left: 50%;
      top: 50%;

      width: 50px;
      height: 4px;

      background-color: #fff;

      transform-origin: left;
      transform: rotate(-45deg) translate(-50%, -50%);
    }

    
    &_full {
      position: absolute;
      z-index: 2;

      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);

    }
  }

  
  
}
