.quiz-nopic {

  position: absolute;
  z-index: 1;

  height: 100vh;
  width: 100vw;

  background-color: #000;
  // Константы
  @mixin mod($mod) {
    @include modifier("quiz-nopic", $mod) {
      @content;
    }
  }

  &_active {
    z-index: 2;
  }

  &__left {
    position: absolute;
    left: 0;

    img {
      width: 1080px;
    }
  }

  &__right {
    position: absolute;
    top: 90px;
    right: 65px;

    img {
      width: 1035px;
    }
  }

  &__line {
    position: absolute;
    bottom: 74px;
    left: 75px;

    color: white;
  }
  &__redfig {
    // height: 100vh;
    width: 50vw;
  }
  &__content {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    height: 100vh;

    &-gradient {
      // width: 66vw;
      // height: 100vh;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);

      height: 100vh;
    }
  }
  &__title {
    margin-bottom: 32px;

    font-size: 32px;
    font-family: "Glober Regular", sans-serif;
    text-align: center;
    color: #f2f2f2;
  }
  &__question {
    position: absolute;
    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);
  }
  &__logo {
    position: absolute;
    top: 53%;
    left: 45%;

    transform: translate(-50%, -50%);
  }
  &__answer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 650px;
    height: 100px;

    font-size: 24px;
    font-family: "Glober Bold", sans-serif;
    color: #000000;

    background-color: #ffffff;
    border-radius: 10px;
    cursor: pointer;

    &:not(:last-child) {
      margin-bottom: 30px;
    }

    &_incorrect {
      color: #ffffff;

      background-color: #db0032;
    }

    &_disable {
      pointer-events: none;
    }

    &_correct {
      color: #ffffff;

      background-color: #95a936;
    }

    &-inner {
      text-align: center;
      &::first-letter {
        text-transform: uppercase;
      }
    }
  }
}
