mixin end-screen(content, params)
  .end-screen&attributes(attributes)
    .end-screen__left
      img.end-screen__logo
      img.end-screen__redfig(src=copyright.firstScreen.redfigure)
    .end-screen__right
      .end-screen__inner
        .end-screen__title
        .end-screen__text
      img(src=copyright.firstScreen.gradient)