.end-screen {
  position: absolute;
  z-index: 1;

  width: 100vw;
  height: 100vh;

  background-color: #000000;
  // Константы
  @mixin mod($mod) {
    @include modifier("first-screen", $mod) {
      @content;
    }
  }

  &_active {
    z-index: 2;
  }

  &__left {
    position: absolute;
    z-index: 2;
  }
  &__line {
    position: absolute;
    bottom: 74px;
    left: 75px;

    color: white;
  }
  &__redfig {
    width: 50vw;
  }
  &__right {
    position: absolute;
    left: 524px;
    z-index: 1;

    height: 100vh;
  }
  &__inner {
    position: absolute;
    top: 49%;
    left: 63%;

    transform: translate(-50%, -50%);
  }
  &__title {
    font-size: 52px;
    font-family: "Glober Bold", sans-serif;
    text-align: center;
    color: #f2f2f2;
  }
  &__text {
    width: 680px;

    font-size: 52px;
    font-family: "Glober Regular", sans-serif;
    text-align: center;
    color: #f2f2f2;
  }
  &__logo {
    position: absolute;
    top: 53%;
    left: 45%;

    transform: translate(-50%, -50%);
  }
}
