.first-screen {
  position: absolute;
  z-index: 1;

  width: 100vw;
  height: 100vh;

  background-color: #000000;
  // Константы
  @mixin mod($mod) {
    @include modifier("first-screen", $mod) {
      @content;
    }
  }

  &_active {
    z-index: 2;
  }

  .header__score {
    display: none;
  }

  .header__back {
    display: none;
  }

  &__left {
    position: absolute;
    z-index: 2;
  }
  &__line {
    position: absolute;
    bottom: 74px;
    left: 75px;

    color: white;
  }
  &__redfig {
    width: 50vw;
  }
  &__right {
    position: absolute;
    left: 524px;
    z-index: 1;

    height: 100vh;
  }
  &__title {
    position: absolute;
    top: 48%;
    right: -210px;

    font-size: 42px;
    font-family: "Glober Bold", sans-serif;
    text-align: center;
    color: #f2f2f2;

    transform: translate(-50%, -50%);
  }
  &__logo {
    position: absolute;
    top: 53%;
    left: 45%;

    width: 220px;
    height: 220px;

    transform: translate(-50%, -50%);
    img {
      position: absolute;
      top: 53%;
      left: 45%;

      transform: translate(-50%, -50%);
    }
  }
}
