.quiz {
  position: absolute;
  z-index: 1;

  width: 100vw;
  height: 100vh;

  background-color: #000000;
  // Константы
  @mixin mod($mod) {
    @include modifier("quiz", $mod) {
      @content;
    }
  }

  &_active {
    z-index: 2;
  }

  &__left {
    position: absolute;
    z-index: 2;
  }
  &__line {
    position: absolute;
    bottom: 74px;
    left: 75px;

    color: white;
  }
  &__redfig {
    width: 50vw;
  }
  &__content {
    position: absolute;
    right: 0;
    z-index: 1;

    width: 1158px;
    height: 1080px;
  }
  &__title {
    margin-bottom: 32px;

    font-size: 32px;
    font-family: "Glober Regular", sans-serif;
    text-align: center;
    color: #f2f2f2;
  }
  &__question {
    position: absolute;
    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);
  }
  &__logo {
    position: absolute;
    top: 53%;
    left: 45%;

    transform: translate(-50%, -50%);
  }
  &__answer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 650px;
    height: 100px;

    font-size: 24px;
    font-family: "Glober Bold", sans-serif;
    color: #000000;

    background-color: #ffffff;
    border-radius: 10px;
    cursor: pointer;

    &:not(:last-child) {
      margin-bottom: 30px;
    }

    &_disable {
      pointer-events: none;
    }

    &_incorrect {
      color: #ffffff;

      background-color: #db0032;
    }

    &_correct {
      color: #ffffff;

      background-color: #95a936;
    }

    &-inner {
      text-align: center;
      &::first-letter {
        text-transform: uppercase;
      }
    }
  }
}
