extends components/project/custom-page/custom-page


prepend title
  -let title = projectDescription;

block content
  +header
  +circles
  +downline
  +first-screen
  +video
  +quiz
  +quiz-nopic
  +end-screen