.circles {
  position: absolute;
  bottom: 59px;
  left: 50%;
  z-index: 10;

  display: none;
  justify-content: space-between;
  align-items: center;
  width: 480px;

  color: #ffffff;

  transform: translateX(-50%);
  // Константы
  @mixin mod($mod) {
    @include modifier("circles", $mod) {
      @content;
    }
  }

  &_active {
    display: flex;
  }

  .circle {
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;

    &__inner {
      font-size: 28px;
      font-family: "Cera Bold", sans-serif;
    }

    &__line {
      &-opacity {
        position: absolute;
        top: 50%;
        left: 100%;
        z-index: 1;

        width: 69px;
        height: 0;

        border-top: 1px solid rgba($color: #ffffff, $alpha: 0.3);
        transform: translateY(-50%);

        &_last {
          width: 0;

          border-top: 0;
        }
      }

      &-full {
        position: absolute;
        top: 50%;
        left: 100%;
        z-index: 2;

        width: 0;
        height: 0;

        border-top: 0 solid #ffffff;
        transform: translateY(-50%);
        opacity: 1;

        transition: width 1500ms ease-in-out;

        &_active {
          width: 69px;

          border-top: 1px solid #ffffff;
        }

        &_last {
          width: 0;
        }
      }
    }


    &__dotted {
      position: absolute;
      top: 50%;
      left: 50%;
      z-index: 2;

      background-color: trasnporent;
      transform: translate(-50%, -50%);

      &-inner {
        width: 35px;
        height: 35px;

        border: 2.5px dotted #ffffff;
        border-radius: 50%;
        opacity: 0.3;

        transition: rotate 0.5s ease;
        animation: rotate 5s linear infinite;


        @keyframes rotate {
          from {
            transform: rotate(-360deg);
          }
        }
      }
    }

    &__full {
      position: absolute;
      z-index: 3;
    }
  }
}
