mixin circles(content, params)
  .circles&attributes(attributes)
    .circle
      .circle__inner 1
      .circle__dotted
        .circle__dotted-inner
      .circle__line
        .circle__line-opacity
        .circle__line-full
    .circle
      .circle__inner 2
      .circle__dotted
        .circle__dotted-inner
      .circle__line
        .circle__line-opacity
        .circle__line-full
    .circle
      .circle__inner 3
      .circle__dotted
        .circle__dotted-inner
      .circle__line
        .circle__line-opacity
        .circle__line-full
    .circle
      .circle__inner 4
      .circle__dotted
        .circle__dotted-inner
      .circle__line
        .circle__line-opacity
        .circle__line-full
    .circle
      .circle__inner 5
      .circle__dotted
        .circle__dotted-inner
      .circle__line
        .circle__line-opacity.circle__line-opacity_last
        .circle__line-full.circle__line-full_last