//- GUI
include gui/gui

//- Элементы
//-include mute-button/mute-button

//- Блоки
//- include custom-modal/custom-modal
//- include custom-menu/custom-menu

//- Страницы
include header/header
include circles/circles
include downline/downline
include first-screen/first-screen
include quiz/quiz
include quiz-nopic/quiz-nopic
include end-screen/end-screen